<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llista de la compra</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="app">
        <h1>SHOPPING LIST</h1>
        <div class="card" v-for="item in list" v-bind:class="{minus10: item.minus10}">
            <span>{{ item.name }}</span>
            <div>
                <span>{{ item.price }} € x </span>
                <input v-model:value="item.quantity" type=number min="1" max="99">
                <span>uds. = {{ item.price * item.quantity }} €</span> 
            </div>
            <button v-on:click="deleteProduct(item)">Delete</button>
        </div>
        <h2>Total: {{ calcTotal }} €</h2>
        <label for="product">Product</label>
        <input type="text" v-model="inName" id="product">
        <label for="price">Price</label>
        <input type="text" v-model="inPrice" id="price" size="4">€
        <br><br>
        <button v-on:click="addProduct">Add Product</button>
        <button v-on:click="deleteLast">Delete last entry</button>
    </div>
    <script src="app.js"></script>
</body>

</html>