<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llista de la compra</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>SHOPPING LIST</h1>
    <div id="app">
        <div v-for="item in list" v-bind:id="item.id">
            {{ item.name }}, {{ item.price }} 
            <input v-bind:value="item.quantity" type=number v-on:change=>
        </div>
        <h2>Total: {{ calcTotal }} €</h2>
        <label for="product">Product</label>
        <input type="text" v-model="inName" id="product">
        <label for="price">Price</label>
        <input type="text" v-model="inPrice" id="price">€
        <br>
        <button v-on:click="addProduct">Add Product</button>
        <button v-on:click="deleteLast">Delete last entry</button>
    </div>
    <script>
    var app = new Vue({
        el: "#app",
        data: {
            inName: '', //nombre del producto en el input
            inPrice: null, //precio del producto en el input
            list: [], //lista de productos
        },
        computed: {
            // calcula el precio total de la lista
            calcTotal: function() {
                let total = 0;
                this.list.forEach(function(element, index) {
                    total += element.price * element.quantity;
                });
                return total;
            }
        },
        methods: {
            // añadir un producto a la lista
            addProduct: function() {
                if (Number(this.inPrice) > 0 && this.inName.trim()) {
                    this.list.push({
                        "id": this.list.length,
                        "name": this.inName,
                        "price": Number(this.inPrice),
                        "quantity": 1
                    });
                }
                this.inName = '';
                this.inPrice = null;
            },
            // eliminar el último elemento de la lista
            deleteLast: function() {
                this.list.pop();
            }
        }
    });
    </script>
</body>

</html>